includes:
  - phpstan-baseline.neon
  - ./vendor/larastan/larastan/extension.neon

parameters:
  tmpDir: storage/phpstan
  paths:
    - modules/

  # Level 9 is the highest level
  level: 9

  reportUnmatchedIgnoredErrors: false

  scanFiles:
    - _ide_helper_models.php

  ignoreErrors:
    # Pest architecture testing methods are not recognized by PHPStan
    - identifier: method.notFound
      message: '#Call to an undefined method Pest\\PendingCalls\\TestCall::expect\(\)\.#'
      paths:
        - modules/*/Tests/Architecture/*Test.php
